<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <style>{% include "css/main.css" %}</style>
    <title>{{ title }}</title>
</head>
    <body class="{{ bodyClass }}" >
        <div class="container">

            <!-- Decorational Lines -->
            <div class="line rotate rotate-1"></div>
            <div class="line rotate rotate-2"></div>
            <div class="line lineoffset-1"></div>

            <header>
                <div class="heading-wrapper">
                    <h1 data-heading="{{ title }}" class="heading">{{ title }}</h1>
                </div>
                <div class="description">
                    {%- if subtitle %}<h2 class="subtitle">{{ subtitle }}</h2>{% endif %}
                    {%- if description %}<p class="subtitle-summary">{{ description }}</p>{% endif %}
                    {%- if jobtitle %}<p class="jobtitle">{{ jobtitle }} <span>{{jobtitle2}}</span></p>{% endif %}
                </div>
                <div class="triangle"></div>
            </header>

            <div class="intro">
                <div class="grid-item">{{ content | safe }}</div>
            </div>
            {% include "nav.njk" %}
            <script>{% include "js/scripts.js" %}</script>
        </div>
    </body>
</html>



