@import '_variables';
@import '_mixins';
@import '_header';
@import '_nav';
@import '_lines';
@import '_homecontent';
@import '_about';

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $text-color;
  color: $page-color;
}
::selection {
  background-color: $text-color;
  color: $page-color;
}

html {
  background-color: $page-color;
}

body {
  text-align: center;
  color: mix($text-color, $page-color, 60%);
  font-family: sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
}


.container {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  overflow: hidden;
  // max-width: 1440px;
}

ul, ol {
  padding-left: 1em;
}

h2 {
    font-size: calcRem(22px);
    color: $accent-color;
    text-transform: uppercase;
    font-family: $sans;
}

a:link,
a:visited {
  color: $accent-color;
  text-decoration: none;
  border-bottom: solid 1px mix($text-color, $page-color, 10%);
}
a:hover,
a:focus {
  color: $text-color;
  border-bottom: solid 1px $text-color;
}